{% load static %}
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HQ</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" class="css">
    <link rel="stylesheet" href="{% static 'css/clanovi.css' %}" class="css">
</head>
<body>
    

    {% include 'home/sidebar.html' %}
    
    <div class="container">

        <div class="clanovi">
            {% for clan in clanovi %}
            <div class="clan">
                <p>{{ clan.user.username }}</p>
                <img src="{{ clan.slika.url }}" alt="">
            </div>
            
        {% endfor %}
        </div>
    
    

       

        
    </div>

    <div id="modal">
        <div class="modal-content">
            <form action="{% url 'dodaj_belesku' %}" method="POST">
                {% csrf_token %}
                <label class="popusili_kurcinu" for="naslov">Naslov</label>
                <input name="naslov" placeholder="Unesi naslov.." required type="text">
                <label class="popusili_kurcinu" for="text">Unesi belesku</label>
                <textarea placeholder="Unesi novu belesku.." name="text" rows="4" cols="50" required></textarea>
                <button>Sacuvaj</button>
            </form>
        </div>
    </div>

    <script>

        function otvoriModal(){
            var modal = document.getElementById("modal");
            modal.style.display = 'block';
        }

    </script>
    
</body>
</html>