{% load static %}
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HQ</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" class="css">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}" class="css">
    <link rel="stylesheet" href="{% static 'css/projekti.css' %}" class="css">
</head>
<body>
   

    {% include 'home/sidebar.html' %}
    
    <div class="container">

        <a class="dodaj-projekat" onclick="otvoriModal()"> 
            <img style="width: 50px;height: 50px;" src="{% static 'images/add.png' %}" alt="">
        </a>

        <div class="projekti">
    
            {% for projekat in projekti %}

                <div class="projekat">
                    <a href="{% url 'projekat' projekat_id=projekat.id %}">{{projekat.ime}}</a> 

                    <img src="{{projekat.slika.url}}" alt="">
                    <div class="projekat-aktivnost">
                        Poslednji azurirao:  <p>{{projekat.aktivnost}}</p>
                    </div>
                   
                </div>

            {% endfor %}
        </div>






        
        

    </div>

    <div id="modal">
        <div class="modal-content">
            <span id="zatvorimodal" onclick="zatvoriModal()">x</span>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <label class="popusili_kurcinu" for="naslov">Naslov</label>
                <input name="ime" placeholder="Unesi ime projekta.." required type="text">

                <input name="deskripcija" placeholder="Unesi deskripciju.." required type="text">

                <select name="clanovi" id="clanovi" multiple required>
                    {% for clan in clanovi %}
    
                        <option value="{{ clan.id }}">{{ clan.user.username }}</option>
                    {% endfor %}
                </select>
                
                <input name="slika" type="file" required>
                
                <button class="btn">Sacuvaj</button>
            </form>
        </div>
    </div>

  

     <script src="{% static 'js/modal.js' %}"></script>

    
</body>
</html>